* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 1.1rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 3rem;
}

.container {
    display: grid;
    gap: .5rem;
}

/* header */
.header {
    display: grid;
    grid-template-areas: 
    "hero hero f-1"
    "hero hero f-2"
    ;
}

.hero {
    grid-area: hero;
    min-height: 19rem;
    background-size: cover;
    background-position: center;
    background-image: url("/img/hero.jpg");
    padding: 3rem;
}


.hero > * {
    display: none;
}

.features {
    background-color: #121212;
    color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.f-1 {
    grid-area: f-1;
    background-image: url('/img/novel.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 2px 1px rgb(0, 0, 0.7);
}
.f-2 {
    grid-area: f-2;
    background-image: url('/img/comic.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 2px 1px rgb(0, 0, 0.7);
}

.features .price {
    font-size: 3em;
    font-weight: 200;
}


/* Navigation */
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    order: -1;
}

.menu .brand {
    font-size: 1.5em;
    color: #121212;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: #121212;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
}


/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 1.2rem;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.menu-toggle input {
    position: absolute;
    width: calc(3rem - 8px);
    height: calc(2rem - 4px);
    left: calc(-.4rem + 1px);
    top: calc(-.1rem - 3px);
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
.menu-toggle span {
    display: block;
    width: calc(2rem - 4px) ;
    height: .2rem;
    background-color: #121212;
    border-radius: 3px;
    transition: all .3s;
}


/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:last-child {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #fff;
}

.menu-toggle input:checked ~  span:last-child {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #fff;
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}


/* Resposive Breakpoint */

@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero > * {
        display: block;
        background-color: #121212;
        color: #fff;
        padding: .3rem;
        margin-bottom: .3rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}
@media screen and (max-width: 768px) {
    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #121212;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        transform: translateY(-100%);
        transition: all .3s;
        opacity: .9;
    }   
    .menu {
        order: -1;
        justify-items: end;
    }
    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        transform: translateY(0);
    }
}
@media screen and (max-width: 600px) {
    
}
